numpy>=1.23
scipy>=1.10
nibabel>=5.1
SimpleITK>=2.3
scikit-image>=0.22
trimesh>=4.0
meshio>=5.3
pyvista>=0.43
torch>=2.1
torchvision>=0.16
tqdm>=4.66
pyyaml>=6.0
rich>=13.7
typer>=0.12
einops>=0.7
matplotlib>=3.8
open3d>=0.17
pymeshfix>=0.16
roifile>=2023.5.12
torch-geometric
smplx
scikit-learn
